//! This file is using BEM as a methodology to create hierarchy and organization of the styles
@use "reset";
@use "scroll-style";

//global color
$background-global: #fcfcfc;
$background-icon: rgba(255, 255, 255, 1);
$background-primary: linear-gradient(180deg, #e83e8c 0%, #bf1563 100%);
$background-seconary: #17a2b8;
$font-primary: #707070;
$font-secondary: #bf1563;

.navbar {
    background: $background-primary;
    padding: 18px 10%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    & img {
        height: 53px;
        width: 132px;
    }
    &__ul {
        display: flex;
        gap: 2rem;
        margin-left: auto;
        & a {
            font-size: 1.2rem;
            font-weight: 700;
        }
    }
}

.container {
    margin-top: 10rem;
    margin-bottom: 4rem;

    &__h1 {
        color: $font-primary;
        font-size: 4rem;
        font-weight: 700;
        margin-bottom: 2rem;
        text-align: center;
    }
    & .card-deck {
        margin-bottom: 2rem;
    }
}

.card {
    background: $background-global;
    border-radius: 0.6rem;
    border: none;
    color: $font-primary;
    overflow: hidden;
    box-shadow:
        20px 20px 60px #bebebe,
        -20px -20px 60px #ffffff;
    & .card-body {
        height: 100%;
    }
    & .card-title {
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }
    &__footer {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
    }
    &__link {
        border-radius: 0.4rem;
        border: 2px solid $font-primary;
        font-size: 1.2rem;
        font-weight: 500;
        padding: 0.8rem;
        &:last-child {
            background: $background-primary;
            border-radius: 0.4rem;
            border: none;
            color: $background-global;
        }
    }
}

.payment-block {
    align-items: center;
    background: $background-seconary;
    color: $background-global;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
    padding: 1rem 6rem;
    width: 100%;
    &__h2 {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 0;
    }
    &__ul {
        display: flex;
        gap: 1rem;
    }
    &__icon {
        color: rgba($background-icon, 1);
        cursor: pointer;
        font-size: 4rem;
        transition: transform 0.3s ease;
        &:hover {
            color: rgba($background-icon, 0.8);
            transform: scale(1.1);
        }
    }
}

// Mobile
@media screen and (max-width: 1000px) {
    .payment-block {
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 1rem;
        &__icon {
            font-size: 3rem;
            &:hover {
                color: rgba($background-icon, 0.8);
                transform: scale(1.1);
            }
        }
    }
}

.footer {
    align-items: center;
    background: $background-primary;
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    &__container {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    a {
        align-items: center;
        cursor: pointer;
        display: flex;
    }
    img {
        height: 6rem;
        width: max-content;
        &:hover {
            opacity: 0.8;
            scale: 1.1;
        }
    }
    p {
        font-size: 1.5rem;
        font-weight: 700;
        margin: 0;
        &:last-child {
            font-size: 1rem;
            font-weight: 400;
        }
    }
}
