@charset "UTF-8";
/* Definimos las Custom properties */
:root {
  /* Colores */
  --negro: #393939;
  /* Tipografía */
  --tipo-principal: Roboto, Helvetica, sans-serif;
  --tipo-secundaria: Verdana;
}

/* (Opcional) Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
  }
}
/* (Opcional) Configuramos si un usuario ha activado el modo alto contraste. (WD) */
/* (Opcional) Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
/* Reseteamos los margin y paddings de todas las etiquetas */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

*::before,
*::after {
  display: block;
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* (Opcional) */
  object-fit: cover;
  /* (Opcional) */
  object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* (Opcional) Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* (Opcional) Configuramos el texto que seleccionamos */
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* (Opcional) */
  appearance: none;
}

/* Reseteamos las tablas */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--negro);
  /* (Opcional) */
  hyphens: auto;
  /* (Opcional) */
  font-smooth: always;
  /* (Opcional) */
  -webkit-font-smoothing: antialiased;
  /* (Opcional) */
  -moz-osx-font-smoothing: grayscale;
}

/* For webkit-based browsers (Chrome, Safari, Edge) */
/* Customize the scrollbar track (the background behind the thumb) */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* Customize the scrollbar thumb (the draggable handle) */
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

/* On hover, change the color of the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: #777;
  cursor: pointer;
}

.navbar {
  background: linear-gradient(180deg, #e83e8c 0%, #bf1563 100%);
  padding: 18px 10%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
.navbar img {
  height: 53px;
  width: 132px;
}
.navbar__ul {
  display: flex;
  gap: 1rem;
  margin-left: auto;
}
.navbar__ul a {
  font-size: 1.2rem;
  font-weight: 700;
}

@media screen and (max-width: 992px) {
  .navbar {
    gap: 2rem;
  }
  .navbar .navbar-toggler {
    border: 2px solid #bf1563;
  }
}
.main-container {
  margin: 10rem auto 4rem auto;
}
.main-container__h1 {
  color: #707070;
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 2rem;
  text-align: center;
}

.card {
  background: #fcfcfc;
  border-radius: 0.6rem;
  border: none;
  color: #707070;
  cursor: pointer;
  margin-bottom: 1.5rem;
  overflow: hidden;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}
.card:hover {
  opacity: 1;
  transform: scale(1.025);
  z-index: 1;
}
.card:not(:hover) {
  opacity: 0.8;
}
.card .card-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.card .card-body {
  height: 100%;
}
.card__footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.card__link {
  border-radius: 0.4rem;
  font-weight: 500;
  padding: 0.8rem;
  transition: background-color 0.5s ease;
}
.card__link:last-child {
  background-color: #e83e8c;
  border: none;
  color: #fcfcfc;
  text-decoration: none;
}
.card__link:last-child:hover {
  background-color: #bf1563;
}

.payment-block {
  align-items: center;
  background: #17a2b8;
  color: #fcfcfc;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  overflow: hidden;
  padding: 1rem 6rem;
  width: 100%;
}
.payment-block__h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0;
}
.payment-block__ul {
  display: flex;
  gap: 1rem;
}
.payment-block__icon {
  color: white;
  cursor: pointer;
  font-size: 4rem;
  transition: transform 0.3s ease;
}
.payment-block__icon:hover {
  color: rgba(255, 255, 255, 0.8);
  transform: scale(1.1);
}

@media screen and (max-width: 720px) {
  .payment-block {
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 1rem;
  }
  .payment-block__h2 {
    font-size: 1.5rem;
    text-align: center;
  }
  .payment-block__ul {
    justify-content: center;
  }
  .payment-block__icon {
    font-size: 1.8rem;
  }
  .payment-block__icon:hover {
    color: rgba(255, 255, 255, 0.8);
    transform: scale(1.1);
  }
}
.footer {
  align-items: center;
  background: linear-gradient(180deg, #e83e8c 0%, #bf1563 100%);
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}
.footer__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer a {
  align-items: center;
  cursor: pointer;
  display: flex;
}
.footer img {
  height: 6rem;
  width: max-content;
}
.footer img:hover {
  opacity: 0.8;
  scale: 1.1;
}
.footer p {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}
.footer p:last-child {
  font-size: 1rem;
  font-weight: 400;
}

.modal {
  color: #707070;
}
.modal h4 {
  font-size: 1.5rem;
  font-weight: 700;
}
.modal p {
  margin-top: 1.5rem;
  overflow-wrap: break-word;
  word-break: keep-all;
}

/*# sourceMappingURL=style.css.map */
